html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

div a {
  color: #fff;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  display: inline;
}

.btn {
  font-size: 1.125rem;
  background-color: #333;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  font-size: 1.125rem;
  background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  font-size: 1.125rem;
  background-color: #fff;
  border-style: solid;
  color: #000;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-warning {
  font-size: 1.125rem;
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;

}

.btn-small {
  font-size: .875rem;
  background-color: #333;
}

.btn-small:hover {
  background-color: #000;
}

.grey-small {
  font-size: .875rem;
  background-color: #ccc;
}

.grey-small:hover {
  background-color: #666;
  color: #fff;
}

.ghost-small {
  font-size: .875rem;
  background-color: #fff;
  border-style: solid;
  color: #000;
}

.ghost-small:hover {
  background-color: #666;
}

.warning-small {
  font-size: .875rem;
  background-color: #f33;
}

.warning-small:hover {
  background-color: #933;
}

.btn-big {
  font-size: 1.5rem;
  background-color: #333;
}

.btn-big:hover {
  background-color: #000;
}

.subtle-big {
  font-size: 1.5rem;
  background-color: #ccc;
}

.subtle-big:hover {
  background-color: #666;
}

.ghost-big {
  font-size: 1.5rem;
  background-color: #fff;
  border-style: solid;
  color: #000;
}

.ghost-big:hover {
  background-color: #666;
  color: #fff;
}

.warning-big {
  font-size: 1.5rem;
  background-color: #f33;
}

.warning-big:hover {
  background-color: #933;
}
